<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.HexagonalArchitecture.outbox.DomainEventMapper">
    <insert id="insert" parameterType="com.example.HexagonalArchitecture.outbox.DomainEvent">
        INSERT INTO event (id, type, aggregateId, aggregateType, payload, eventCreatedAt)
        VALUES (#{event.id}, #{type}, #{event.aggregateId}, #{event.aggregateType}, #{event.payload}, #{event.eventCreatedAt})
    </insert>
</mapper>